{% extends 'website/base.html' %}
{% load static %}
{% block title %}Copyright Information{% endblock %}
{% block content %}

    <div class="container">

        <div class="jumbotron">

            <h1 class="jumbotron-heading">Copyright Information</h1>
            <p>This page contains information for all copyright related information</p>
        </div>
    </div>
    <div> 
        <h2>Images</h2>
        <p>All images used on this website are either created by Alasdair or are from the following sources:</p>
        <ul>
        </ul>
        <br />
        <h2>CSS</h2>
        <p>All CSS used on this website is either created by Alasdair or is from the following sources:</p>
        <ul>
            <li><a href="https://github.com/twbs/bootstrap/blob/main/LICENSE">Bootstrap</a></li>
        </ul>
    </div>

{% endblock %}