{% extends 'website/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="jumbotron-heading">Projects</h1>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
