{% extends 'website/base.html' %}
{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="jumbotron-heading">{{ project.name }}</h1>
        {% if project.url %}
            <p>URL: <a href="{{ project.url }}">{{ project.url }}</a></p>
        {% endif %}
        <p>{{ project.description }}</p>
        <p>Created on: {{ project.date }}</p>
        <p>Image: <img src="{{ project.image.url }}" alt="{{ project.title }}" /></p>
    </div>

{% endblock %}